*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "montserrat";
  }

  header{
    background-image: url('red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;

}
.overlay{
    position: absolute;
    z-index:1;
    top: 1;
    left: 0;
    height: 100;
    right: 0;
    bottom: 0;
    padding: 0 important;
    background-color: red;

}
nav{
    position: absolute;
    top: 0;
    right:0 ;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}
nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}



nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #eedede;
    text-decoration: none;
}
.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a{
  background-color: rgb(51, 36, 36);
  color: #fff;
  cursor: pointer;
  text-decoration: none;

}

.container{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 50px;
  
}

.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}



.dropdown {
  position: relative;
  display: inline-block;
  font-size:15px;
  padding:15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}
.dropdown:hover .dropdown-content {
  display: block;
}


.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-row {
  display: flex;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.cart-item {
  width: 40%;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 40%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
} 
.product_name{
  font-size: 25px;
  text-align: center;
}

.cart-item {
  width: 40%;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 40%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
} 

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-item {
  margin: 10px;
  margin-bottom: 50px;
}

.shop-item-title {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.shop-item-details {
  display: flex;
  padding: 5px;
  align-items: center;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
  font-size: 1.5em;
}

.shop-item-button {
  font-size: 1.25em;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-row {
  display: flex;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-column {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  
  font-size: 20px;
}
